<?php

namespace Bilbot;


class Constants
{
    const BILBOT_WATSON_API_ENDPOINT = 'http://watson-nginx/api/';
    const BILBOT_WELIVE_API_ENDPOINT = 'http://welive-nginx/api/';

    const TELEGRAM_API_USERNAME = '';
    const TELEGRAM_API_KEY = '';
    const TELEGRAM_COMMANDS_PATH = '/Commands/';
    const TELEGRAM_UPLOADS_PATH = '';
    const TELEGRAM_DOWNLOADS_PATH = '';
    const TELEGRAM_ERROR_LOGS_PATH = '/logs/bilbot_errors.log';
    const TELEGRAM_DEBUG_LOGS_PATH = '/logs/bilbot_debug.log';
    const TELEGRAM_UPDATE_LOGS_PATH = '/logs/bilbot_updates.log';

    const MYSQL_HOST = 'bilbotpfm_bilbot-mysql_1';
    const MYSQL_USER = '';
    const MYSQL_PASSWORD = '';
    const MYSQL_DATABASE = 'bilbot';
}